# Calidad de datos

## 1. Importar paquetes

In [28]:
import pandas as pd

## 2. Carga de los datos

In [29]:
ruta = 'C:/Users/matia/OneDrive/Escritorio/Asteroid_Classification'

In [30]:
datos = 'trabajo.csv'

In [31]:
ruta_completa = ruta + '/02_Datos/03_Trabajo/' + datos
df = pd.read_csv(ruta_completa, delimiter = ',', index_col = 0, low_memory = False)
df

,spkid,full_name,pha,H,diameter,albedo,diameter_sigma,e,a,q,...,sigma_i,sigma_om,sigma_w,sigma_ma,sigma_ad,sigma_n,sigma_tp,sigma_per,class,rms
0,2000001,' 1 Ceres',N,3.4,939.4,0.0900,0.2,0.077557,2.767657,2.553006,...,4.613200e-09,6.176900e-08,6.618400e-08,7.355900e-09,1.115900e-11,1.201400e-12,3.686700e-08,9.439100e-09,MBA,0.40633
4,2000005,' 5 Astraea',N,6.9,106.699,0.2740,3.14,0.190913,2.574037,2.082619,...,2.743600e-06,2.926000e-05,3.016900e-05,8.703600e-06,4.902000e-09,5.724700e-10,3.640700e-05,3.618200e-06,MBA,0.51439
6,2000007,' 7 Iris',N,5.6,199.83,0.2766,10.0,0.230145,2.387375,1.837933,...,2.582500e-06,2.641200e-05,2.707500e-05,7.014700e-06,2.469500e-09,3.370100e-10,2.662700e-05,1.699400e-06,MBA,0.38128
7,2000008,' 8 Flora',N,6.5,147.491,0.2260,1.025,0.155833,2.201415,1.858362,...,3.319600e-06,2.499000e-05,2.735000e-05,1.247600e-05,2.900800e-09,5.160100e-10,4.147700e-05,2.040100e-06,MBA,0.52919
8,2000009,' 9 Metis',N,6.3,190.0,0.1180,?,0.123300,2.386189,2.091972,...,2.009400e-06,2.425100e-05,2.609600e-05,1.049400e-05,3.524500e-09,5.273900e-10,3.918200e-05,2.655500e-06,MBA,0.43435
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126125,2538837,'538837 (2016 GP204)',N,16.3,3.22,0.0560,0.47600000000000003,0.107386,3.205050,2.860874,...,1.840300e-05,2.298300e-05,1.064200e-04,9.242400e-05,3.471100e-07,2.519900e-08,5.093900e-04,3.074500e-04,OMB,0.60914
126126,2538838,'538838 (2016 GT207)',N,16.2,3.827,0.0530,0.8190000000000001,0.094880,2.857143,2.586058,...,7.649400e-06,2.422500e-05,4.654800e-05,4.671400e-05,1.085500e-07,1.062300e-08,2.421800e-04,9.181800e-05,MBA,0.49840
126127,2538938,'538938 (2016 JS6)',N,16.5,2.8680000000000003,0.0590,0.667,0.066066,3.061685,2.859413,...,3.736000e-05,4.606600e-05,2.734200e-04,2.850800e-04,1.653000e-07,1.397600e-08,1.561400e-03,1.486500e-04,MBA,0.55930
126129,2539080,'539080 (2016 NW12)',N,17.0,2.7880000000000003,0.0270,0.456,0.118547,2.590028,2.282987,...,8.226300e-06,7.422600e-05,9.243400e-05,6.648900e-05,7.375600e-08,9.029800e-09,2.956000e-04,5.814200e-05,MBA,0.50012
126130,2539759,'539759 (2016 UO107)',N,16.0,3.0639999999999996,0.1430,0.552,0.209092,3.968204,3.138482,...,1.102500e-05,1.455800e-04,1.543500e-04,4.233600e-05,3.002800e-07,1.170500e-08,3.311600e-04,2.710600e-04,OMB,0.60971

## 3. Calidad de los datos

### 3.1 Vista general

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88292 entries, 0 to 126130
Data columns (total 35 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   spkid           88292 non-null  int64
 1   full_name       88292 non-null  object
 2   pha             88292 non-null  object
 3   H               88292 non-null  float64
 4   diameter        88292 non-null  object
 5   albedo          88292 non-null  float64
 6   diameter_sigma  88292 non-null  object
 7   e               88292 non-null  float64
 8   a               88292 non-null  float64
 9   q               88292 non-null  float64
 10  i               88292 non-null  float64
 11  om              88292 non-null  float64
 12  w               88292 non-null  float64
 13  ma              88292 non-null  float64
 14  ad              88292 non-null  float64
 15  n               88292 non-null  float64
 16  tp              88292 non-null  float64
 17  tp_cal          88292 non-null  float64
 18  per             88292 non-null  float64
 19  per_y           88292 non-null  float64
 20  moid            88292 non-null  float64
 21  moid_ld         88292 non-null  float64
 22  sigma_e         88292 non-null  float64
 23  sigma_a         88292 non-null  float64
 24  sigma_q         88292 non-null  float64
 25  sigma_i         88292 non-null  float64
 26  sigma_om        88292 non-null  float64
 27  sigma_w         88292 non-null  float64
 28  sigma_ma        88292 non-null  float64
 29  sigma_ad        88292 non-null  float64
 30  sigma_n         88292 non-null  float64
 31  sigma_tp        88292 non-null  float64
 32  sigma_per       88292 non-null  float64
 33  class           88292 non-null  object
 34  rms             88292 non-null  float64
dtypes: float64(29), int64(1), object(5)
memory usage: 24.3+ MB

### 3.2 Datos nulos

In [33]:
df.isnull().sum()

spkid             0
full_name         0
pha               0
H                 0
diameter          0
albedo            0
diameter_sigma    0
e                 0
a                 0
q                 0
i                 0
om                0
w                 0
ma                0
ad                0
n                 0
tp                0
tp_cal            0
per               0
per_y             0
moid              0
moid_ld           0
sigma_e           0
sigma_a           0
sigma_q           0
sigma_i           0
sigma_om          0
sigma_w           0
sigma_ma          0
sigma_ad          0
sigma_n           0
sigma_tp          0
sigma_per         0
class             0
rms               0
dtype: int64

### 3.2 Valores unicos

In [34]:
df.nunique()

spkid             88292
full_name         88292
pha                   2
H                   169
diameter          15640
albedo              955
diameter_sigma     2796
e                 88292
a                 88292
q                 88292
i                 88292
om                88292
w                 88292
ma                88292
ad                88292
n                 88292
tp                88292
tp_cal            88292
per               88292
per_y             88292
moid              68566
moid_ld           68566
sigma_e           46225
sigma_a           46514
sigma_q           34641
sigma_i           47405
sigma_om          52960
sigma_w           55645
sigma_ma          46477
sigma_ad          46756
sigma_n           36187
sigma_tp          54729
sigma_per         49203
class                11
rms               23636
dtype: int64

### 3.3 Valores duplicados

In [35]:
df.duplicated().sum()

0

## 4. Calidad de datos

Las variables de *diameter* y *diameter_sigma* son tiene relación con el diametro del asteroide. Lo que son variable numericas, pero son reconocidas como varaible categoricas (object), toca cambiar su tipo

In [36]:
df['diameter'] = pd.to_numeric(df['diameter'], errors = 'coerce')
df['diameter_sigma'] = pd.to_numeric(df['diameter_sigma'], errors = 'coerce')

Aplicar este cambio puede inducir nulos en el dataset, asi que toca revisar eso

In [37]:
df.isna().sum()

spkid              0
full_name          0
pha                0
H                  0
diameter           3
albedo             0
diameter_sigma    66
e                  0
a                  0
q                  0
i                  0
om                 0
w                  0
ma                 0
ad                 0
n                  0
tp                 0
tp_cal             0
per                0
per_y              0
moid               0
moid_ld            0
sigma_e            0
sigma_a            0
sigma_q            0
sigma_i            0
sigma_om           0
sigma_w            0
sigma_ma           0
sigma_ad           0
sigma_n            0
sigma_tp           0
sigma_per          0
class              0
rms                0
dtype: int64

Se completan estos nuevos valores nulos con la mediana, para no alterar la distibución de los datos

In [38]:
df['diameter'] = df['diameter'].fillna(df['diameter'].median())
df['diameter_sigma'] = df['diameter_sigma'].fillna(df['diameter_sigma'].median())

Revisamos el resultado

In [39]:
df.isna().sum()

spkid             0
full_name         0
pha               0
H                 0
diameter          0
albedo            0
diameter_sigma    0
e                 0
a                 0
q                 0
i                 0
om                0
w                 0
ma                0
ad                0
n                 0
tp                0
tp_cal            0
per               0
per_y             0
moid              0
moid_ld           0
sigma_e           0
sigma_a           0
sigma_q           0
sigma_i           0
sigma_om          0
sigma_w           0
sigma_ma          0
sigma_ad          0
sigma_n           0
sigma_tp          0
sigma_per         0
class             0
rms               0
dtype: int64

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 88292 entries, 0 to 126130
Data columns (total 35 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   spkid           88292 non-null  int64
 1   full_name       88292 non-null  object
 2   pha             88292 non-null  object
 3   H               88292 non-null  float64
 4   diameter        88292 non-null  float64
 5   albedo          88292 non-null  float64
 6   diameter_sigma  88292 non-null  float64
 7   e               88292 non-null  float64
 8   a               88292 non-null  float64
 9   q               88292 non-null  float64
 10  i               88292 non-null  float64
 11  om              88292 non-null  float64
 12  w               88292 non-null  float64
 13  ma              88292 non-null  float64
 14  ad              88292 non-null  float64
 15  n               88292 non-null  float64
 16  tp              88292 non-null  float64
 17  tp_cal          88292 non-null  float64
 18  per             88292 non-null  float64
 19  per_y           88292 non-null  float64
 20  moid            88292 non-null  float64
 21  moid_ld         88292 non-null  float64
 22  sigma_e         88292 non-null  float64
 23  sigma_a         88292 non-null  float64
 24  sigma_q         88292 non-null  float64
 25  sigma_i         88292 non-null  float64
 26  sigma_om        88292 non-null  float64
 27  sigma_w         88292 non-null  float64
 28  sigma_ma        88292 non-null  float64
 29  sigma_ad        88292 non-null  float64
 30  sigma_n         88292 non-null  float64
 31  sigma_tp        88292 non-null  float64
 32  sigma_per       88292 non-null  float64
 33  class           88292 non-null  object
 34  rms             88292 non-null  float64
dtypes: float64(31), int64(1), object(3)
memory usage: 24.3+ MB

Dado que solo tiene una variable categorica, no es necesario separar el dataset por tipos de varaibles.

## 5. Guardar los resultados

In [41]:
ruta_trabajo = ruta + '/02_Datos/03_Trabajo/' + 'trabajo_resultado_calidad.pickle'

In [42]:
df.to_pickle(ruta_trabajo)